.wrapper {
    padding: 15px;
    display: grid;
    grid-column: 3 / 3;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #DCDEE1;
    background-color: white;
    margin-bottom: 15px;
}

.textarea {
    background-color: rgba(220, 222, 225, 0.3);
    padding: 10px;
    border-radius: 8px;
    resize: none;
    height: 150px;
    width: 100%;
    margin-top: 10px;
}

.button {
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    background-color: #a4a6a87c;
    width: 100%;
}

.label {
    font-size: 18px;
    font-weight: 600;
}

.error {
    color: red;
}
