.wrapper {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 420fr 1500fr;
    background-color: #fff;
    height: calc(100vh - 60px);
}

.last_messages_wrapper {
    min-width: 300px;
    max-width: 425px;
    border-right: 1px solid #E8EAED;
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
    overflow: hidden;
}

.last_messages_header {
    height: 60px;
    padding: 10px 16px;
    grid-row: 1 / 1;
    background-color: #fff;
    border-bottom: 1px solid #E8EAED;
}

h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: bold;
}

.last_messages_list {
    height: 100%;
    grid-row: 2 / 2;
    padding: 8px;
    overflow: auto;
}

.last_messages_list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.last_messages_list:hover::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: rgba(153, 153, 153);
}

.last_messages_list li {
    padding: 7px;
    height: 64px;
    background-color: #f2f2f250;
    border-radius: 10px;
    margin: 5px 0;
}

.last_messages_list li:hover {
    background-color: #f2f2f2;
    transition: ease-out 0.2s;
}

.dialog_wrapper {
    display: grid;
    grid-template-rows: 60px 1fr 52px;
    overflow: hidden;
}

.send_wrapper {
    grid-row: 3 / 3;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 36px;
    grid-gap: 15px;
    align-items: center;
}

.send_wrapper a {
    place-self: center;
    width: 24px;
    height: 24px;
}

.send {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.input {
    background-color: #F2F2F2;
    border-radius: 36px;
    padding: 0 16px;
    color: #797979;
    height: 36px;
}

.dialog_header {
    border-bottom: 1px solid #E8EAED;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    display: grid;
    justify-content: space-between;
}

.main_information {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
}

.main_information img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.history_wrapper{
    padding: 20px;
}