.send_wrapper {
    grid-row: 3 / 3;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 36px;
    grid-gap: 15px;
    align-items: center;
}

.send_wrapper a {
    place-self: center;
    width: 24px;
    height: 24px;
}

.send {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: no-repeat center/100% url(https://image.flaticon.com/icons/svg/2948/2948197.svg);
    /*background-image: url("https://image.flaticon.com/icons/svg/2948/2948197.svg");*/
    
}

.input {
    background-color: #F2F2F2;
    border-radius: 36px;
    padding: 0 16px;
    color: #797979;
    height: 36px;
}
