.dialog_header {
    border-bottom: 1px solid #E8EAED;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    display: grid;
    justify-content: space-between;
}

.main_information {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
}

.main_information img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
