.wrapper {
    grid-row: 1 / -1;
    place-self: center;
    grid-column: 2 / 2;
    display: grid;
    place-items: center;
    
    
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.form {
    display: grid;
    grid-gap: 10px;
    
    border-radius: 10px;
    padding: 15px;
}

.error {
    border: 1px red solid;
}

.error_message {
    color: red;
}

.input {
    padding: 10px;
    border-radius: 6px;
    width: 350px;
    height: 52px;
    
    /*border: 1px solid #dddfe2;  */
    background-color: rgba(198, 198, 198, 0.10);
    
    font-size: 16px;
    margin-bottom: 5px;
}

.button {
    place-self: center;
    width: 350px;
    height: 48px;
    border-radius: 8px;
    padding: 10px;
    background-color: #a4a6a87c;
    font-size: 16px;
}

.sign_up {
    margin: 0;
    width: 200px;
    height: 40px;
    background-color: rgba(16, 87, 23, 0.3);
}

.line {
    content: "";
    background-color: #a4a6a87c;
    width: 350px;
    height: 1px;
    place-self: center;
    margin: 10px 0 15px 0;
}