.message_wrapper {
    width: 100%;
    display: flex;
    margin: 20px 0;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    padding: 20px;
}


.avatar {
    height: 28px;
    width: 28px;
    margin-right: 10px;
}