
.last_messages_wrapper {
    min-width: 300px;
    max-width: 425px;
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
    overflow: hidden;
}

.last_messages_header {
    height: 60px;
    padding: 10px 16px;
    grid-row: 1 / 1;
    background-color: #fff;
    border-bottom: 1px solid #E8EAED;
}

h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: bold;
}

.last_messages_list {
    height: 100%;
    grid-row: 2 / 2;
    padding: 8px;
    overflow: auto;
}

.last_messages_list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.last_messages_list:hover::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(153, 153, 153, 0.7);
}

.last_messages_list li {
    padding: 7px;
    height: 64px;
    background-color: #f2f2f250;
    border-radius: 10px;
    margin-bottom: 5px;
}

.last_messages_list li:hover {
    background-color: #f2f2f2;
    transition: ease-out 0.2s;
}
