.app-wrapper {
    display: grid;
    background-color: #F0F2F5;
    grid-template: 60px 1fr / 1fr 940px 1fr;
    height: 100%;
    min-height: 100vh;
}

.alert {
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #bcd0b4;
    transition: opacity 1s;
}

.alerts {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (max-width: 992px) {
    .app-wrapper {
        grid-template: 60px 1fr / 1fr;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}