.profile {
    grid-column: 1 / -1;
    display: grid;
    grid-template: 510px 1fr / 1fr 940px 1fr;
}

.profile_information {
    margin-top: 15px;
    grid-column: 2 / 2;
    display: grid;
    align-self: start;
    justify-self: center;
    grid-template-columns: 330px 480px;
}