.users{
    grid-column: 1 / -1;
    
    display: grid;
    
    grid-template: 1fr / 360px 1fr;
    height: calc(100vh - 60px);
}

.users_list_wrapper {
    grid-column: 1 / 1;
    grid-row: 1;
    
    display: grid;
    grid-template-rows: 50px 1fr;
    
    width: 360px;
    background-color: white;
    border: 1px solid #DCDEE1;
    overflow: hidden;
}

.users_header {
    grid-row: 1 / 1;
    
    display: grid;
    align-items: center;
    
    width: 100%;
    border-bottom: 1px solid #E8EAED;
    padding: 10px 15px;
    color: black;
}

.users_list {
    grid-row: 2 / 2;
    overflow: auto;
    padding: 8px;
    color: transparent;
    transition: color 0.4s ease-in-out;
}

/*changed color for animation scrollbar. For child this block color - black*/
.users_list:hover {
    color: rgb(153, 153, 153);
}

.users_list::-webkit-scrollbar {
    width: 7px;
}

.users_list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 0 10px;
}

.profile_preview {
    grid-column: 2 / 2;
    grid-row: 1;
    
    background-color: #F0F2F5;
    display: grid;
    overflow: hidden;
}

.icon_people {
    width: 112px;
    height: 112px;
    place-self: center;
}

.not_picked_profile {
    place-self: center;
    display: grid;
    place-items: center;
}

.not_picked_profile_span {
    font-size: 20px;
    font-weight: 700;
    color: rgb(101, 103, 107);
    margin-top: 10px;
}

.total_users_count_wrapper {
    font-size: 18px;
}

.total_users_count {
    font-weight: 900;
}