.users{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 940px 1fr;
    margin-top: 20px;
}

.selectedPage {
    font-weight: bold;
    padding: 0 10px;
}

.numbers {
    grid-column: 2 / 2;
    padding: 20px;
    background-color: #fff;
    place-self: center;
    margin: 20px;
}

.number {
    display: inline-block;
    padding: 0 10px;
}