.users{
    grid-column: 1 / 1;
    
    display: grid;
    grid-template-rows: 200px 1fr;
    
    width: 360px;
    height: calc(100vh - 60px);
    background-color: white;
    border: 1px solid #DCDEE1;
    
    overflow: hidden;
}

.users_header {
    grid-row: 1 / 1;
    
    display: grid;
    align-items: center;
    
    width: 100%;
    border-bottom: 1px solid #E8EAED;
    padding: 10px 15px;
}
.users_list {
    grid-row: 2 / 2;
    overflow: auto;
    padding: 8px;
}

.users_list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.users_list:hover::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(153, 153, 153, 0.7);
}

.users_list li {
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #FBFBFB;
}

.users_list li a:active {
    background-color: #e5e5e5;
}
/*refactoring: doing active on a. Now it do not work*/

.users_list li:hover {
    background-color: #f2f2f2;
    transition: ease-out 0.2s;
}

