/*.link {*/
/*    grid-column: 1 / 1;*/
/*}*/

.user {
    display: grid;
    place-items: center;
    height: 100%;
    grid-template-columns: 1fr 2fr;
}

.status {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}
