.item {
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #FBFBFB;
    color: black;
}

.item:hover {
    background-color: #f2f2f2;
    transition: ease-out 0.2s;
}

.item:active {
    background-color: #e5e5e5;
}

.user {
    display: grid;
    align-items: center;
    height: 100%;
    grid-template: 1fr 1fr / 100px 1fr;
}

.photo {
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    justify-self: center;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.name {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    font-weight: bold;
    font-size: 18px;
}

.status {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.empty_photo {
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    justify-self: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #F2F3F6;
    animation: loading 0.6s ease-in-out infinite alternate;
}

.empty_name {
    grid-column: 2 / 2;
    grid-row: 1 / -1;
    border-radius: 8px;
    width: 220px;
    height: 16px;
    background-color: #F2F3F6;
    animation: loading 0.6s ease-in infinite alternate;
}

@keyframes loading {
    0% {
        background-color: #F2F3F6;
    }
    100% {
        background-color: #cbcccd;
    }
}