.wrapper {
    grid-column: 3 / 3;
    place-self: stretch;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #DCDEE1;
    border-radius: 8px;

    display: grid;
}

.header {
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.close_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ededed;
    border: 1px solid #999;
    font-size: 6px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.date {
    color: #65676b;
    font-size: 13px;
    margin-top: 5px;
}

.fullName:hover {
    text-decoration: underline;
}

.fullName,
.date {
    font-weight: 600;
}

/*.likes {*/
/*    align-self: end;*/
/*    grid-column: -1 / -1;*/
/*}*/
