.app-wrapper {
  display: grid;
  background-color: black;
  grid-template-columns: 320px auto;
  grid-template-rows: 60px auto;
  /* grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr; */
}

.header {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #fff;
}

.header img {
  height: 60px;
  width: 100%;
}

.nav {
  background-color: burlywood;
}

.content {
  grid-area: c;
  background-color: darkgrey;
}
