.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: gray;
}
.header img {
  width: 100px;
}

.nav {
  grid-area: n;
  background-color: burlywood;
}

.content {
  grid-area: c;
  background-color: darkgrey;
}