* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
ins {
  text-decoration: none;
  color: rgb(5, 5, 5);
}

.app-wrapper {
  display: grid;
  background-color: #F0F2F5;
  grid-template-columns: 1fr 855px 1fr;
  grid-template-rows: 55px 1fr;
  height: 100vh;
  overflow: scroll;
}